*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#skate_park{
    border:solid 1px red;
    position: absolute;
}

#container_buttons{
    position: absolute;
}

.button_interface{
    padding: 10px 10px;
    color: black;
    font-family: 'VT323';
    font-size: 1.9rem;
}