*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body, #command button{ font-family: 'VT323'; }


#skate_park{    
    position: absolute;
    z-index:-9;
}

/*INTERFACE DU JEU*/
#interface{
    position: absolute;
    width: 95%;
    height: 90%;
}

/*VOLET DES BOUTONS*/
#command{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

#command button{
    padding: 10px 25px;
    font-size: 1.5rem;
}
/*LES CLASSES DES BOUTON EN MODE ACTIF OU NON ACTIF*/
.inactive_button{
    background-color: darkgray;
    color: black;
}

.active_button{
    background-color: black;
    color: white;

}

#wallet,#social, #shop, #settings {
    width: 80%;
    height: 50%;
    background: blue;
    margin: auto;
    padding: 15px;
    font-size: 1.8rem;
    display: none;
}

#experience{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}